<a href="https://colab.research.google.com/github/fathimahidamv/python-basics/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum():
  a=10
  b=15
  c=a+b
  print(c)
sum()  #execcutes the code inside the sum() function only when the function is called

In [ ]:
def sum(a,b):  #parameterised

  c=a+b
  print(c)

sum(20,30)

50

In [ ]:
#factorial
def factorial(a):
  fact=1
  for i in range(1,a+1):
    fact=fact*i
  print("Factorial of the given number is : ",fact)

factorial(10)

Factorial of the given number is :  3628800

In [ ]:
#fibonacci
def fibonacci(a):
  x=0
  y=1
  print(y)
  for i in range(0,a+1):
    c=x+y
    print(c)
    x=y
    y=c
fibonacci(20)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

In [ ]:
def area(side):     #value after the calculation is returned to a variable (for later use)
  ar=side*side
  print(ar)
  return(ar)
z=area(5)
a=2+z
print(a)

25
27

In [ ]:
#operations using function

def add(a,b):
  c=a+b
  print("sum : ",c)
def sub(a,b):
  d=a-b
  print("difference : ",d)
def mul(a,b):
  e=a*b
  print("product : ",e)
def div(a,b):
  f=a/b
  print("division : ",f)
add(10,20)
sub(20,10)
mul(10,20)
div(200,10)

sum :  30
difference :  10
product :  200
division :  20.0

In [ ]:
def add(a,b):
  c=a+b
  print("sum : ",c)

In [ ]:
#or
def oper(a,b):
  c=a+b
  d=a-b
  e=a/b
  f=a*b
  print("sum is : ",c,
        " difference is : ",d,
        " product is : ",f,
        " division is : ",e)
oper(20,10)

sum is :  30  difference is :  10  product is :  200  division is :  2.0

In [ ]:
#prime or not
def prime(a):
  x=0
  for i in range(1,a):
    if a%i==0:
      x=x+1
  if x>1:
    print(a," is not a prime number")
  else:
    print(a,"is a prime number")

prime(25)

25  is not a prime number

In [ ]:
#   LAMBDA FUNCTION
x=lambda a:a+10
print(x(5))

15

In [ ]:
x=lambda a,b :a+b
print(x(2,5))

7

In [ ]:
x=lambda a,b,c:a+b+c
print(x(2,3,4))

9

In [ ]:
#filter() in lambda()
#even num from list                          #
l1=[1,2,3,4,5]                               #
l2=list(filter(lambda i:(i%2==0),l1))
print(l2)

[2, 4]

In [ ]:
#map()in lambda()
#double the values
l1=[1,2,3,4,5]
l2=list(map(lambda i:i*2,l1))  #square value - i*i
print(l2)

[1, 4, 9, 16, 25]

In [ ]:
#recursion-factorial
def factorial(n):
  if n==1:
    return 1
  else:
    return n * factorial(n-1)    #num=3   print(factorial(num))  --- it gives factorial of 3
print("the factorial of is",factorial(6))

the factorial of is 720

In [ ]:
#recursion -fibonacci
def fib(n):
  if n<=1:
    return n
  else:
    return (fib(n-1)+fib(n-2))
x=10
if x<=0:                     #checking the input
  print("invalid input")
else:
  for i in range(x):    #printing the series
    print(fib(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=list(map(lambda x:x*5,l1))
print(l2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]